body{

.top_header{
    width: 100%;
    justify-content: start;
    display: flex;
    align-items: start;
    background: #1B1B1B;
    box-shadow: 0px 4px 30px 0px #0000004D;

}
}

/* navbar */

header{

    nav{
        display: flex;
    }

    .nav_top ul, li, a{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;

        color: #8F8F8F;
       display: flex;
       text-decoration: none;
       margin-left: 9px;

       &.active{
        color: #FFF;
       }
    }

   .nav-bar_container{
    display: flex;
   }

    ul{
        display: flex;
        width: 490.97px;
        height: 56px;
        border-radius: 15px;
        
        padding: 0;
        text-align: start;
        justify-content: center;
        align-items: center;
        background-color: #222222;
    }

 
    .list-item{
        img{
          cursor: pointer;

          &:hover{
            opacity: 0.5;
          }
        }
    }

    .img-logo{
        width: 181px;
        background-position: center;
        display: flex;
    }
}

.container-navbar_items{
    display: flex;
    
}

.list-item{
    font-weight: 500;
}
